{{- define "main" }}
<div class="blog-list">
  {{- range .Pages }}
  <a href="{{ .RelPermalink }}" class="blog-card-link">
    {{- if .Params.cover }}
    <div class="blog-img-wrap">
      <img src="{{ .Params.cover.image }}" alt="{{ .Title }}">
      <div class="blog-card-caption">
        <span class="blog-card-title">{{ .Title }}</span>
        <span class="blog-card-date">{{ .Date.Format "January 2, 2006" }}</span>
      </div>
    </div>
    {{- else }}
    <div class="blog-card-text">
      <span class="blog-card-title">{{ .Title }}</span>
      {{- with .Description }}<p class="blog-card-desc">{{ . }}</p>{{- end }}
      <span class="blog-card-date">{{ .Date.Format "January 2, 2006" }}</span>
    </div>
    {{- end }}
  </a>
  {{- end }}
</div>
{{- end }}
