{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <header class="entry-header">
    <img src="/images/profile.png" alt="Profile" class="profile-image">
    <h1>{{ .Title | markdownify }}</h1>
  </header>
  <div class="entry-content">
    <p>{{ .Content | markdownify }}</p>
  </div>
  <footer class="entry-footer">
    <div class="footer-row">
      {{- partial "social_icons.html" (dict "align" "center") }}
      <a href="/resume.pdf" class="resume-btn" target="_blank">Resume</a>
    </div>
    <div class="cert-wall">
      <a href="https://credentials.offsec.com/e6353354-d4dd-4f91-9ee8-d165947fefa5#acc.bq8NITRe" target="_blank" rel="noopener noreferrer">
        <img src="/images/certs/oscp.png" alt="OSCP">
      </a>
      <a href="https://www.credly.com/earner/earned/badge/82b797c2-a6eb-439d-b741-1d40bc108794" target="_blank" rel="noopener noreferrer">
        <img src="/images/certs/cpts.png" alt="CPTS">
      </a>
      <a href="https://www.credly.com/badges/8332f330-c96a-4932-9044-c27f9f93c02d" target="_blank" rel="noopener noreferrer">
        <img src="/images/certs/aplus.png" alt="CompTIA A+">
      </a>
      <a href="https://www.credly.com/badges/f2e7a848-568c-4fe9-bdc7-9239b3bf7e2b" target="_blank" rel="noopener noreferrer">
        <img src="/images/certs/netplus.png" alt="CompTIA Network+">
      </a>
      <a href="https://www.credly.com/badges/3f9e8d7d-9122-4fd5-937e-e5d93189ed7b" target="_blank" rel="noopener noreferrer">
        <img src="/images/certs/secplus.png" alt="CompTIA Security+">
      </a>
    </div>
  </footer>
</article>
{{- end }}